.ag-theme-alpine .ag-header {
  --tw-bg-opacity: 1;
  background-color: oklch(var(--b2, var(--b1)/var(--tw-bg-opacity)));
  border-bottom: solid 1px;
  border-bottom-color: oklch(var(--b3, var(--b2)/var(--tw-bg-opacity)));
}

.ag-theme-alpine .ag-row {
  --tw-bg-opacity: 1;
  background-color: oklch(var(--b1)/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
  border-width: 1px;
  border-color: oklch(var(--b3, var(--b1)/var(--tw-bg-opacity)));
  border-bottom-style: solid;
}

.ag-theme-alpine .ag-row-odd {
  --tw-bg-opacity: 1;
  background-color: oklch(var(--b2)/var(--tw-bg-opacity));
}

.ag-theme-alpine .ag-row-hover {
  --tw-bg-opacity: 1;
  background-color: oklch(var(--p)/var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: oklch(var(--pc)/var(--tw-text-opacity));
}

.ag-header-group-cell-label,
.ag-header-cell-label {
  display: flex;
  flex: 1 1 auto;
  overflow: hidden;
  align-items: center;
  text-overflow: ellipsis;
  align-self: stretch;
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}

.ag-center-cols-viewport {
  /* width: 100%; */
  overflow-x: auto;
  background-color: oklch(var(--b1)/var(--tw-bg-opacity));
}
  
.ag-theme-alpine .ag-paging-panel {
  background-color: oklch(var(--b2, var(--b1)/var(--tw-bg-opacity)));
  border-top: 1px solid;
  border-top-color: oklch(var(--b2, var(--b1)/var(--tw-bg-opacity)));
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}

.ag-icon-menu {
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}
.ag-icon-filter {
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}
.ag-icon-first {
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}
.ag-icon-previous {
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}
.ag-icon-next {
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}
.ag-icon-last {
  --tw-text-opacity: 1;
  color: oklch(var(--bc)/var(--tw-text-opacity));
}